html {
    height: -webkit-fill-available;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    height: 100vh;
    height: -webkit-fill-available;
    font-family: 'Inter', sans-serif;
    color: #2e4731;
    background-color: white;
}

/* Typography */

p {
    margin: 0;
}


/* Header */

header {
    background-image: url('banner.jpg');
    background-size: cover;
    height: 150px;
    padding-left: 20px;
}

 .title{
    text-shadow: 0.5px 0.5px #f7fff7;
    margin-top: 15px;
    color: white;
    text-shadow: 1px 1px #2e4731;
}

/* Main section */

main {
    padding: 0px 25px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    text-align: center left;
    border-bottom: solid 1px #d2d2d2;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

.item-name {
    margin: 0;
    padding: 15px 0 5px 0;
    font-size: 20px;
}

.item-emoji {
    font-size: 50px;
}

.item-ingredients {
    font-size: 12px;
    padding-bottom: 7px;
    opacity: 0.7;
}

.item-info-container {
    width: 90%;
    margin: 0;
    padding-bottom: 10px;
}

.item-price{
    font-size: 12px;
    font-weight: bold;
    color: #019754;
}

/* Add button styles */

.add-item {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 20px;
    background-color: #019754;
    border: 1px solid  whitesmoke;
    color: whitesmoke;
}

.add-item:hover {
    cursor: pointer;
    background-color: #ddbc00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

/* Current order styles */

.order-line {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: solid 1px #d2d2d2;
    font-size: 14px;
}

.price {
    margin: 0 0 0 auto;
}


.order-title {
    text-align: center;
    color: #019754;
}

.remove-item {
    opacity: 0.7;
    font-size: 10px;
    color: #019754;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Total price styles */
.price-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-top: 5px;
    color: #2e4731;
    padding: 0 15px;
}

/*Finish order styles */
#order-now{
    display: flex;
    justify-content: center;
}

.order-now {
    align-self: center;
    text-align: center;
    background-color: #019754;
    color: whitesmoke;
    padding: 13px 80px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.order-now:hover {
    cursor: pointer;
    background-color: #ddbc00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
/* Modal */


form {
    margin: 10px;
}

.modal{
    border: 2px solid #019754;
    border-radius: 14px;
    padding: 10px;
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 310px;
    height: 280px;
    box-shadow: 5px 5px whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    color: #2e4731;
    display: none;
}


input {
    width: 80%;
    margin: 5px;
    height: 25px;
    border-radius: 4px;
    font-size: 16px;
}

/*modal buttons */


.modal-btns {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.choice {
    padding: 5px 12px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #2e4731;
    padding: 12px 25px;
    border-radius: 8px;
}

.pay {
    background-color: #019754;
    color: white;
}

.pay:hover {
    cursor: pointer;
    background-color: #ddbc00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.go-back{
    background-color: white;
    color: #2e4731;
}

.go-back:hover {
    cursor: pointer;
    background-color: #ddbc00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.modal-text{
    font-size: 18px;
}
/* Name entered by user */
.user-name {
    color: #019754;
    font-weight: bold;
}
/* car emoji on modal*/
.car {
    font-size: 22px;
    font-size: 22px;
}

/* hides or unhides displays when called via javascript */
.hidden {
    display: none;
}