html {
    height: -webkit-fill-available;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    height: 100vh;
    height: -webkit-fill-available;
    font-family: 'Inter', sans-serif;
    color: #2e4731;
    background-color: white;
}

header {
    background-image: url('/banner.jpg');
    background-size: cover;
    height: 150px;
    padding-left: 20px;
}

 .title{
    text-shadow: 0.5px 0.5px #f7fff7;
    margin-top: 15px;
    color: white;
    text-shadow: 1px 1px #2e4731;
}

.order-title {
    text-align: center;
    color: #019754;
}

.remove-btn {
    opacity: 0.7;
    font-size: 12px;
    color: #019754;
}

p {
    margin: 0;
}

main {
    padding: 0px 25px;
    background-color: whitesmoke;
}

.menu-item-container {
    display: flex;
    align-items: center;
    text-align: center left;
    border-bottom: solid 1px #d2d2d2;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

.item-name {
    margin: 0;
    padding: 15px 0 5px 0;
    font-size: 20px;
}

.item-emoji {
    font-size: 60px;
}

.item-ingredients {
    font-size: 12px;
    padding-bottom: 7px;
    opacity: 0.7;
}



.item-info-container {
    width: 90%;
    margin: 0;
    padding-bottom: 10px;
}

.item-price{
    font-size: 12px;
    font-weight: bold;
}

.add-btn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 20px;
    background-color: #019754;
    border: 1px solid  whitesmoke;
    color: whitesmoke;
}

.add-btn:hover {
    cursor: pointer;
    background-color: #ddbc00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.order-line {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: solid 1px #d2d2d2;;
}

.price {
    margin: 0 0 0 auto;
}

